<div class="container my-5">
    
    <h3 class="mb-4">{{title | uppercase}}</h3>
    
    <transaction-form (getTransactionsEvent)="getTransactions()"></transaction-form>
    
    <div class="d-flex justify-content-start align-items-center gap-3">
        <select [(ngModel)]="filter" (change)="getTotal()" name="filter" class="form-select">
            <option [value]="filter" default hidden>{{filter | titlecase}}</option>
            <option value="all">All</option>
            <option value="income">Income</option>
            <option value="expenses">Expenxes</option>
        </select>
        <p class="d-flex justify-content-end text-muted m-0">{{filteredTransactions().length}} transactions found</p>
    </div>
    
    <loading *ngIf="loading"></loading>

    <div *ngIf="!loading" class="mt-3 mb-5">
        <div class="d-flex flex-column gap-2 mb-3">
            <transaction *ngFor="let transaction of filteredTransactions()" [transaction]="transaction" (getTransactionsEvent)="getTransactions()"></transaction>
        </div>
        <div *ngIf="transactions.length > 0" class="border-top pt-2">
            <div class="d-flex justify-content-between px-2">
                <div>
                    <span *ngIf="filter === 'all'" class="text-muted">Total: </span>
                    <span *ngIf="filter !== 'all'" class="text-muted">Total {{filter}}: </span>
                </div>
                <div>
                    <span *ngIf="total >= 0" class="amount positive">{{total | number:'.2'}}€</span>
                    <span *ngIf="total < 0" class="amount negative">{{total | number:'.2'}}€</span>
                </div>
            </div>
        </div>
    </div>

</div>


<router-outlet></router-outlet>
